body{
  background-image: url("../images/homebg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar{
  background-color: rgba(255,255,255,0.7)!important;
}

.centrenav{
  width: 100vh!important;
}
li{
  font-family: 'Montserrat', sans-serif;
  font-size: 2vh;
  /* padding-left: 5vh;
  padding-right:5vh; */
}

.navbar-brand{
  font-family: 'Lexend Deca', sans-serif;
  font-weight: bold;
}


.pagefooter{
  margin-top: 35vh!important;
  background-color:rgba(255,255,255,0.7);
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  font-size:2.0vh!important;
  color: black;
  padding:4vh;

}
.copyright{
  margin-top: 5vh;
}
