<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Doc.co</title>


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../src/stylesheet/signup.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>



<body>

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Doc.co</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse centrenav" id="navbarSupportedContent" align="center">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Career</a>
        </li>
    </ul>
  </div>
  </nav>
<br><br>
<!-- Table for form -->
  <div class="main container-fluid" >
      <div class="div0" align="center">
        Hey! Give us a minute to set you all up!
      </div>
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6" align="center">
        <!-- Form -->
        <form name="form" enctype="multipart/form-data" method="get" action="#">
        <table class="table table-borderless">
          <tbody>
            <div class="form-group">
            <tr>
              <th scope="col"><label for="email">Email address</label></th>
              <th scope="col"><input type="email" name="email" class="form-control" id="email" placeholder="Enter email"></th>
            </tr>
            </div>
            <div class="form-group">
            <tr>
              <th scope="col"><label for="psw">Password</label></th>
              <th scope="col"><input type="password" name="psw" class="form-control" id="psw" placeholder="Enter password"></th>
            </tr>
            </div>
            <div class="form-group">
            <tr>
              <th scope="col"><label for="psw1">Re-enter Password</label></th>
              <th scope="col"><input type="password" name="psw1" class="form-control" id="psw1" placeholder="Enter password"></th>
            </tr>
            </div>
            <div class="form-group">
            <tr>
              <th scope="col"><label >Gender</label></th>
              <th scope="col">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="Male" value="Male">
                  <label class="form-check-label" for="Male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="Female" value="Female">
                  <label class="form-check-label" for="Female">Female</label>
                </div>
              </th>
            </tr>
            </div>
            <div class="form-group">
            <tr>
              <th scope="col"><label >Pregnancy</label></th>
              <th scope="col">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="pyes" value="pyes">
                  <label class="form-check-label" for="pyes">Ongoing</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="pno" value="pno">
                  <label class="form-check-label" for="pno">No</label>
                </div>
              </th>
            </tr>
            </div>
            <div class="form-group">
            <tr>
              <th scope="col"><label for="psys">Systolic Pressure</label></th>
              <th scope="col"><input type="number" name="psys" class="form-control" id="psys" placeholder="Enter systolic pressure"></th>
            </tr>
            </div>
            <div class="form-group">
            <tr>
              <th scope="col"><label for="psys">Diastolic Pressure</label></th>
              <th scope="col"><input type="number" name="pdias" class="form-control" id="pdias" placeholder="Enter diastolic pressure"></th>
            </tr>
            </div>
            <div class="form-group">
            <tr>
              <th scope="col"><label for="psys">Systolic Pressure</label></th>
              <th scope="col"><input type="number" name="psys" class="form-control" id="psys" placeholder="Enter systolic pressure"></th>
            </tr>
            </div>
            <div class="form-group">
            <tr>
              <th scope="col"><label for="pr">Pulse Rate</label></th>
              <th scope="col"><input type="number" name="pr" class="form-control" id="pr" placeholder="Enter Pulse Rate"></th>
            </tr>
            </div>
            <div class="form-group">
            <tr>
              <th scope="col"><label for="bmi">Body Mass Index</label></th>
              <th scope="col"><input type="number" name="bmi" class="form-control" id="bmi" placeholder="Enter BMI"></th>
            </tr>
            </div>
            <div class="form-group">
            <tr>
              <th scope="col"><label for="glu">Glucose Level</label></th>
              <th scope="col"><input type="number" name="glu" class="form-control" id="glu" placeholder="Enter glucose level"></th>
            </tr>
            </div>



          </tbody>
        </table>
        <br>
        <input class="submit" type="submit" value="Submit"/>
      </div>
      <div class="col-sm-3">
      </div>
    </div>
  </div>









  <footer class="pagefooter">
    <div class="row ">
      <div class="col-sm-4">
          Doc.co Intelligent Healthcare Services<br>
          D1A/A3, Sewa Marg, D-Block Janakpuri<br>
          New Delhi - 110058, INDIA
      </div>

      <div class="col-sm-4">
      </div>
      <div class="col-sm-4"></div>

      <div class="container-fluid copyright" align="left">&copy 2019 Doc.co Intelligent Healthcare Services PVT. LTD. All Rights Reserved.</div>
    </div>

  </footer>





   <!-- All scripts are to be added here -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   <script>
   $("#Loginbtn").click(function(){
     console.log("Clicked");
   })
   document.getElementById("Loginbtn").addEventListener("click", function(event){
       event.preventDefault();
      redirect();
   });
   function redirectSignup(){
     window.location.href="views/signup.html";
   }
   </script>
</body>
</html>
